 <header class="mainHeader">
    <div class="container">
      <div class="itemAlign">
        <div class="lDiv w70 mt-2">
          <img src="/assets/img/inlogo.png" style="width: 60%;">
          <!-- <a href="#" class="backPage"><span><i class="fa fa-arrow-left" aria-hidden="true"></i> About Me</span></a> -->
        </div>
        <div class="rDiv w30 text-right mt-2">
          <!-- <span class="settingIcon"><i class="fa fa-cog"></i></span> -->
          <span class="settingIcon">
            <img src="/assets/img/setting.png" style="width: 30%;">
          </span>
        </div>
      </div>
      <p class="font-white fw-500 mt-1 mb-1 font-14">Let's build your Magnet</p>
      <div class="card">
        <div class="itemAlign">
          <div class="lDiv w70">
            <span class="profileFlag">Welcome</span>
            <h4 class="mt-4"><%= data.first_name%> <%= data.last_name%></h4>
            <p class="profileEmail fw-500"><i class="fa fa-envelope font-red"></i> <%= data.user_email %></span><span class="profilePhone fw-500"><i class="fa fa-phone font-red"></i> (<%= data.country_code  %>) <%= data.contact_no %></p>
          </div>
          <div class="rDiv w30 text-center">
          
            <% if(data.user_image.match('https:')) {%>
              <img class="profilePic rounded-circle" src="<%= data.user_image%>">
            <%} else {%>
              <img class="profilePic rounded-circle" src="<%= appUrl%><%= data.user_image%>">
            <%}%>
           
          </div>
        </div>
      </div>

    </div>
  </header>